<!-- <div class="bodyCover"> -->


  <div class="firstScreen">
    <!-- <div class="container"> -->

      <div class="row loginScreen">
        <div class="col-sm-12">
          <!-- <img src="assets/img/logo2.png" alt="" class="bitLogo2"> -->
          <div class="tokenPage tokenPage1">
            <fieldset class="fieldSet form-group">
              <legend class="fieldSetLegend">
                <h5 class="tokenHeading form-group">Electra Password Reset</h5>
              </legend>
              <form [formGroup]="resetPasswordForm" novalidate>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" [ngClass]="{'has-error':password.invalid && password.touched}">
                      <label class="control-label"> Enter Your Password</label>
                      <input type="password" class="form-control" formControlName="password" data-toggle="popover" data-trigger="hover" data-content="Passwords must be of min 6 - max 15 character in length, at least one uppercase letter, one lowercase letter, one number, one special character, space is not allowed." data-placement="bottom" maxlength="15">
                      <div *ngIf="password.invalid && password.touched" class=" text-danger">
                        <div *ngIf="password.errors?.required">
                          Password is required
                        </div>
                        <!-- <div *ngIf="password.errors?.minlength">
                          Please provide atleast 6 characters !
                        </div>
                        <div *ngIf="password.errors?.maxlength">
                          You have reached to its maximum limit !
                        </div> -->
                        <!-- <div *ngIf="password.errors?.pattern">
                          Pattern error !
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" [ngClass]="{'has-error':confirmPassword.invalid && confirmPassword.touched}">
                      <label class="control-label"> Confirm Password</label>
                      <input type="password" class="form-control" formControlName="confirmPassword" maxlength="15" >
                      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class=" text-danger">
                        <div *ngIf="confirmPassword.errors?.required">
                          Confirm password is required !
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="text-danger form-group" *ngIf="isSerErrorMessage">{{serErrorMessage}}</div> -->
                <div *ngIf="passwordMissMatch && confirmPassword.valid" class="text-danger form-group">Password & confirm password must be same !</div>
                <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-block btn-primary" (click)="resetPassword()">CONFIRM</button>
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <div class="loaderBackground" *ngIf="loaderMain">
    <div class="loader" *ngIf="loader">
      <div class="text-center" style="height:100%;width:100%;padding-top:30px;">
      </div>
    </div>
    <div *ngIf="loaderText">
      <div style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">
        <div class="row form-group">
          <div class="col-12 text-center">
            <h3 *ngIf="!isSerErrorMessage">Your password has been reset successfully.</h3>
            <h3 class="errText " *ngIf="isSerErrorMessage">{{serErrorMessage}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <a role="button" routerLink="/login" class="btn btn-primary">Click Here To Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<app-alert [message]="currentMessage"></app-alert>