<h2>About us</h2>
<hr>
<p class="text-justify">The world’s first disintermediated and distributed marketplace for small and medium enterprises(inclusive of retailers)
  whereby any entrepreneur or small business can set up business instantly, trade globally, accept digital payments
  and handle cashless transactions at a fraction of today's cost. You get your own set of immutable ledgers, smart
  contracts, mobile application, payment acceptance capability and cross-border money transfer facility. Electra is
  about giving every aspiring and small business a fair go.</p>
<hr>

<!-- <button type="button" class="btn btn-info btn-lg"  (click)="test()">modal test</button> -->

<!-- <app-alert [message]="currentMessage"></app-alert> -->
